@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --border: 240 5.9% 90%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --border: 240 3.7% 15.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: bisque;
    width: 16rem;
    height: fit-content;
    padding: 0 2rem 2rem 2rem;
    border-radius: 10px;
}

.card img {
    margin-top: -20%;
    width: 100%;
    border-radius: 20px;
}

.card h2 {
    margin: 0;
    margin-top: 1rem;
}

.card p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-dots li.slick-active button:before {
    color: #8b5cf6 !important;
}

:root {
    --timeline-line-color: #4F46E5;
}

.dark {
    --timeline-line-color: white;
}

.vertical-timeline::before {
    background-color: var(--timeline-line-color) !important;
}